@import url(https://fonts.googleapis.com/css?family=Inter:400,500,700);

.arjs-loader {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.arjs-loader div {
  text-align: center;
  font-size: 1.25em;
  color: white;
}


/*Source https://loading.io/css/ */
/*Spinning Loading*/
.lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
  }
  .lds-dual-ring:after {
    content: " ";
    display: block;
    width: 40px;
    height: 40px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }
  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  /*Menu Text*/

  .container-content{
    overflow: auto;
    height: calc(100vh - 100px);
    margin-top: 100px;
  }
  .title-menu{
    margin: 0px 15px 0 15px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .red-text{
    color: red;
  }
  .white-text{
    color: white;
  }

  .subtitle-menu::first-line{
    
    line-height: 30px;
  }
  .subtitle-menu{
    margin: 0px 15px 0 15px;
    font-family: 'Inter';
    font-style: italic;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;

    color: #FFFFFF;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  
  .content-menu{
    margin: 23px 15px 23px 15px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;

    color: #FFFFFF;


  }

  /* unvisited link */
a {
  text-decoration: none;
  color: #1FC08E;
  font-weight: 700;
}

/*  link red */
a:link {
  color: #1FC08E;
  font-weight: 700;
}

/* visited link green */
a:visited {
  color: #1FC08E;
}

/* mouse over link hotpink*/
a:hover {
  color: #1FC08E;
}

/* selected link blue */
a:active {
  color: #1FC08E;
}

